.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    max-width: 40%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.49);
    border-radius: 10px;
    margin-top: 40px;
}

input {
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    border-color: navy;
}

.button {
    background-color: navy;
    color: white;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    
}

p.error {
    color: red;
    font-style: italic;
    margin-bottom: 10px;
    display: inline
}

.title {
    font-size: 25px;
    font-weight: 500;
}
